@charset "UTF-8";

@use 'setting' as s;
@use 'common';


.l-header {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
}

.l-main {
    margin-left: 200px;
    width: calc(100% - 200px);
}


.header__wrapper {
    display: flex;
    flex-direction: column;
    gap: s.$space-sm;

    margin: 40px 16px 24px;
}

.header__wrapper a {
    text-align: center;
}

.header__title {
    font-family: Zen Old Mincho;
    font-size: s.$font-size-md;
    font-weight: bold;
    letter-spacing: 0.08em;
    line-height: 1;
}

.header__title--under {
    font-family: Zen Old Mincho;
    font-size: s.$font-size-sm;
    font-weight: bold;
    letter-spacing: 0.08em;
    line-height: 1;

    position: relative;
    padding-bottom: s.$space-sm;
}

.header__title--under::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #BBBBBB;
    text-align: center;
}

.header__nav {
    display: block;
}

.header__navlist {
    display: flex;
    flex-direction: column;
    gap: s.$space-sm;
    text-align: center;
}

.header__navitem {
    font-size: s.$font-size-xs;
}

.header__navitem--cta {
    display: inline-block;
    background-color: s.$color-heading;
    border: 1px solid #83776A;
    color: s.$color-bg-main;
    padding: 8px 16px;
}

.header__navlink.is-active {
    color: s.$color-heading;
}

.header__navitem--cta .header__navlink.is-active {
    color: s.$color-text;
}

.header__nav-sns {
    margin-top: s.$space-sm;
}

.header__nav-sns-item {
    display: flex;
    gap: s.$space-sm;
    justify-content: center;
}

.header__nav-sns-link {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav-sns-icon {
    color: s.$color-heading;
}

.p-hero {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.p-hero__media {
    width: 100%;
    height: 100%;
}

.p-hero__media video {
    width: 100%;
    height: 100%;
}

.p-hero__textwrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: s.$space-md 0;
}

.p-hero__title {
    font-size: s.$font-size-md;
    margin-bottom: s.$space-sm;
    position: relative;
    margin-top: 40px; //線(50px) + 余白
}

.p-hero__title::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    width: 1px;
    height: 50px;
    background: s.$color-text;
}

.p-hero__text {
    font-size: s.$font-size-xs;
}


.p-pickup,
.p-feature {
    background: #F6F6F6;
}

.swiper {
    width: 100%;
    height: auto;
    margin-bottom: s.$space-md;
    padding: 0 s.$space-md;
}

.swiper-slide {
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 310px;
}

.swiper-pagination-bullet {
    background: #E6E6E6;
    opacity: 1;
    /* デフォルトは薄いので上書き */
}

.swiper-pagination-bullet-active {
    background: #C8B296;
}

.swiper-wrapper {
    height: auto;
}

.p-card {
    width: 310px;
    height: 320px;
    margin-bottom: s.$space-md;
}

.p-card__img {
    width: 100%;
    height: 174px;
    object-fit: cover;
    /* アスペクト比を保ちつつ領域を埋める */
    object-position: center;
    /* トリミングの基点（top / bottom なども指定可） */
    display: block;
    /* img のデフォルト inline によるすき間を消す */
}

.p-card__title {
    font-size: 18px;
    font-weight: 600;
    color: s.$color-heading;
    letter-spacing: 0.1;

    margin-top: s.$space-xs;
}

.p-card__text {
    font-family: Noto Sans JP;
    letter-spacing: 0.1;
}

.p-plan__tab-nav {
    display: flex;
    gap: s.$space-md;
    margin-bottom: s.$space-md;
    justify-content: space-around;
}

.p-plan__tab-btn {
    border-bottom: 1px solid #BBBBBB;
    width: 280px;
    text-align: center;
    color: #BBBBBB;

    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;

    &.is-active {
        color: #BAA281;
        border-bottom: 1px solid #BAA281;
    }
}

.p-plan__content {
    display: none;
    padding: 0 140px;

    &.is-active {
        display: block;
    }
}

.p-plan__text-area {
    margin: s.$space-md 0;
}

.p-plan__title {
    font-size: s.$font-size-sm;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 1.9;
    color: s.$color-heading;
    text-align: center;
    padding-bottom: 8px;

    border-bottom: 1px solid s.$color-heading;
}

.p-plan__text {
    margin-top: 10px;
    font-family: Noto Sans JP;
}

.p-plan__btn {
    text-align: center;
}

.p-feature__wrapper {
    display: flex;
    align-items: flex-start;
    margin-bottom: 160px;

    &:last-child {
        margin-bottom: 0;
    }

    &--reverse {
        flex-direction: row-reverse;

        .p-feature__text-box {
            margin-left: 0;
            margin-right: -80px;
        }
    }
}

.p-feature__img {
    max-width: 500px;
}

.p-feature__img img {
    width: 100%;
    object-fit: cover;
}

.p-feature__text-title {
    font-weight: 600;
    font-size: s.$font-size-sm;
    color: s.$color-heading;
    text-align: center;
    margin-bottom: 8px;
}

.p-feature__text-box {
    max-width: 500px;
    height: 280px;
    background: #FFF;

    margin-left: -80px;
    margin-top: 130px;
    padding: 40px 16px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
    z-index: 1; //flex-reverseでDOM順が変わるのでテキストを上に重ねるため
}

.p-gallery {
    position: relative;
}

.p-gallery__list {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: 153px 282px 153px;
    gap: s.$space-xs;
}

.p-gallery__item {
    position: relative;
    overflow: hidden;
}

.p-gallery__item::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 6px solid rgba(255, 255, 255, 0.6);
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
    opacity: 0;
}

.p-gallery__item:hover::after,
.p-gallery__item.is-selected::after {
    opacity: 1;
}

.p-gallery__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

    transition: transform 0.4s;
}

.p-gallery__item:hover img {
    transform: scale(1.05);
}

.p-gallery__item--square {
    grid-column: span 4;
}

.p-gallery__item--large {
    grid-column: span 6;
}

.p-gallery__item--tall {
    grid-column: span 4;
}

.p-gallery__item--wide {
    grid-column: span 8;
}

.p-modal {
    position: fixed;
    inset: 0;
    opacity: 0;
    visibility: hidden; //見えない、クリックできないがDOMには存在
    transition: 0.3s;
    z-index: 10;
}

.p-modal.is-open {
    opacity: 1;
    visibility: visible;
}

.p-modal__wrapper {
    position: relative;
}

.p-modal__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-modal__content {
    position: relative;
    max-width: 790px;
    max-height: 80vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    overflow: hidden;
}

.p-modal__content img {
    width: 100%;
    height: auto;
    display: block;
}

.p-modal__content::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 8px solid rgba(255, 255, 255, 0.6);
    pointer-events: none;
}

.p-modal__close {
    position: absolute;
    top: -50px;
    right: 0px;

    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #FFF;
    color: s.$color-heading;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
}

.p-contact__inner {
    background-image: url(./img/contact_cta.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    gap: s.$space-md;
    padding: s.$space-lg;
    justify-content: space-between;
    align-items: center;
    margin-bottom: s.$space-sm;
}

.p-contact__textarea {
    max-width: 440px;
    color: #FFF;
}

.p-contact__title {
    font-size: s.$font-size-md;
    font-weight: bold;
}

.p-contact__subtitle {
    margin-bottom: s.$space-sm;
}

.p-contact__text {
    font-size: s.$font-size-xs;
}

.p-contact__btn {
    width: min(440px, 100%);
}

.p-contact__btn a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 62px;

    background: #FFF;
    color: s.$color-text;
    font-weight: 600;
    font-size: s.$font-size-sm;
    transition: all 0.4s ease;
}

.p-contact__btn:hover a {
    background: s.$color-heading;
    color: #FFF;
}

.p-contact__sns {
    display: flex;
    gap: s.$space-sm;
}

.p-contact__sns-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    font-size: s.$font-size-md;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100%;
    max-width: 528px;
    aspect-ratio: 528 / 266;

    filter: grayscale(90%) brightness(0.8);
    transition: filter 0.4s ease;
}

.p-contact__sns-link:hover {
    filter: grayscale(0%) brightness(1);
}

.p-contact__sns-link--instagram {
    background-image: url(./img/instagram_cta.png);
}

.p-contact__sns-link--facebook {
    background-image: url(./img/facebook_cta.png);
}

.icon {
    width: 40px;
    height: 40px;
    color: #fff;
}

footer {
    margin-left: 200px;
    width: calc(100% - 200px); //画面幅よりはみ出さないため
}

.l-footer {
    max-width: 920px;
    margin: 0 auto;
    padding: s.$space-md s.$space-lg;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-bottom: s.$space-sm;
}

.footer__title {
    font-size: s.$font-size-md;
    font-weight: bold;
}

.footer__navlist {
    display: flex;
    gap: s.$space-sm;
    font-size: s.$font-size-xs;
}

.footer__copyright {
    font-family: Noto Sans JP;
    font-size: 14px;
    text-align: center;
    margin-top: s.$space-sm;
}

.footer__wrapper::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #BBBBBB;
    text-align: center;
}

.footer__navitem {
    transition: all 0.3s ease;
}

.footer__navitem:hover {
    color: s.$color-heading;
}


.header__hamburger,
.header__drawer-header {
    display: none;
}

@include s.mq(sm) {
    html {
        scroll-padding-top: 80px;
    }

    .l-main {
        margin: 0;
        padding-top: 80px;
        width: 100%;
    }

    .l-header {
        width: 100%;
        height: 80px;
        position: fixed;
        z-index: 100;
        background: #FFF;
        top: 0;
        left: 0;
    }

    footer {
        margin-left: 0;
        width: 100%;
    }

    .header__hamburger {
        display: block;
        width: 35px;
        height: 24px;
        position: relative;
        z-index: 300;
    }

    .header__hamburger span {
        position: absolute;
        width: 100%;
        height: 1px;
        background: s.$color-text;
        left: 0;
        transition: 0.3s;
    }

    .header__hamburger span:nth-child(1) {
        top: 0;
    }

    .header__hamburger span:nth-child(2) {
        top: 12px;
    }

    .header__hamburger span:nth-child(3) {
        bottom: 0;
    }

    .header__nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background: #FFF;
        transition: 0.4s;
        z-index: 200;
    }

    .header__navlist {
        max-width: 292px;
        margin: 0 auto;
        padding-top: s.$space-sm;
    }

    .header__nav.is-active {
        right: 0;
    }

    .header__hamburger.is-active span:nth-child(1) {
        transform: translateY(12px) rotate(45deg);
    }

    .header__hamburger.is-active span:nth-child(2) {
        opacity: 0;
    }

    .header__hamburger.is-active span:nth-child(3) {
        transform: translateY(-12px) rotate(-45deg);
    }

    .header__wrapper {
        flex-direction: row;
        justify-content: space-between;
        padding: 18px 20px;
        margin: 0;
        align-items: center;
    }

    .header__title--under {
        padding-bottom: 0;
    }

    .header__title--under::after {
        display: none;
    }

    .header__drawer-inner {
        display: block;
        max-width: 292px;
        display: flex;
        flex-direction: column;
        text-align: center;

        padding: 64px 36px 24px;
        margin: 0 auto;
    }

    .header__logo {
        font-size: s.$font-size-md;
        font-weight: bold;
    }

    .header__logo--under {
        font-size: s.$font-size-sm;
        font-weight: bold;
        position: relative;
        padding-bottom: s.$space-sm;
    }

    .header__logo--under::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #BBBBBB;
        text-align: center;
    }

    .header__drawer-header {
        display: block;
        padding-top: 64px;
        margin-bottom: s.$space-sm;
        text-align: center;
        max-width: 292px;
        margin: 0 auto;
    }

    .p-hero {
        max-width: 480px;
        display: flex;
        flex-direction: column;
    }

    .p-hero__media {
        object-fit: cover;
        width: 100%;
        height: 700px;
    }

    .p-hero__textwrapper {
        padding: s.$space-md 20px;
    }

    .swiper {
        padding: 0;
        margin-bottom: 0;
    }

    .p-plan__content {
        padding: 0;
    }

    .p-plan__tab-nav {
        gap: s.$space-xs;
    }

    .p-plan__tab-btn {
        width: 100%;
        font-size: 14px;
    }

    .p-feature__wrapper {
        flex-direction: column;
        margin-bottom: s.$space-md;
    }

    .p-feature__wrapper--reverse {
        flex-direction: column;
    }

    .p-feature__text-box {
        max-width: 100%;
        height: auto;
        margin-left: 0;
        margin-top: 0;
        padding: s.$space-sm s.$space-xs;
    }

    .p-feature__wrapper--reverse .p-feature__text-box {
        margin-right: 0;
    }

    .p-feature__img {
        max-width: 100%;
    }

    .p-gallery__list {
        gap: 8px;
        grid-template-rows: 90px 120px 90px;
    }

    .p-gallery__item--large {
        grid-row: span 1;
    }

    .p-gallery__item--tall {
        grid-row: span 1;
    }

    .p-contact {
        padding: 0;
    }

    .p-contact__inner {
        display: flex;
        flex-direction: column;
        padding: 40px 20px;
        background-image: url(./img/contact-sp-cta.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .p-contact__textarea {
        text-align: center;
    }

    .p-contact__subtitle {
        font-size: s.$font-size-xs;
    }

    .p-contact__sns {
        flex-direction: column;
    }

    .p-contact__sns-link--instagram,
    .p-contact__sns-link--facebook {
        height: 200px;
    }

    .l-footer {
        padding: s.$space-md 20px;
    }

    .footer__wrapper {
        flex-direction: column;
    }

    .footer__title {
        margin-bottom: s.$space-sm;
    }

    .footer__navlist {
        gap: 14px;
        font-size: 14px;
    }

    .footer__copyright {
        font-size: 12px;
    }
}