@charset "UTF-8";
/*-------------------------------------------
共通クラス
-------------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Old Mincho", "Noto Sans JP", "Pinyon Script", serif;
  letter-spacing: 0.08em;
  line-height: 1.75;
  background: #FFFFFF;
  color: #333333;
}

img {
  max-width: 100%;
}

/*-------------------------------------------
共通パーツ
-------------------------------------------*/
.l-wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.l-container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 80px 0;
}
@media (max-width: 480px) {
  .l-container {
    padding: 64px 0;
  }
}

.l-container-sm {
  max-width: 920px;
  margin: 0 auto;
  padding: 80px 0;
}
@media (max-width: 480px) {
  .l-container-sm {
    padding: 64px 20px;
  }
}

.c-section-title {
  font-family: Pinyon Script;
  font-size: 36px;
  color: #A88657;
  text-align: center;
  line-height: 1;
}

.c-section-subtitle {
  font-family: Noto Sans JP;
  font-size: 16px;
  color: #A88657;
  text-align: center;
  margin-bottom: 40px;
}

.c-heading {
  font-family: Zen Old Mincho;
  font-size: 20px;
  font-weight: 600;
  color: #A88657;
  text-align: center;
}

.c-text {
  font-size: 16px;
  color: #333333;
}

.c-button {
  padding: 16px 83px;
  background-color: #A88657;
  color: #fff;
  text-align: center;
  display: inline-block;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.c-button:hover {
  color: #333333;
}

.u-br-sp {
  display: inline;
}
@media (max-width: 480px) {
  .u-br-sp {
    display: block;
  }
}

.l-header {
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
}

.l-main {
  margin-left: 200px;
  width: calc(100% - 200px);
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  margin: 40px 16px 24px;
}

.header__wrapper a {
  text-align: center;
}

.header__title {
  font-family: Zen Old Mincho;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.08em;
  line-height: 1;
}

.header__title--under {
  font-family: Zen Old Mincho;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.08em;
  line-height: 1;
  position: relative;
  padding-bottom: 24px;
}

.header__title--under::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #BBBBBB;
  text-align: center;
}

.header__nav {
  display: block;
}

.header__navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  text-align: center;
}

.header__navitem {
  font-size: 16px;
}

.header__navitem--cta {
  display: inline-block;
  background-color: #A88657;
  border: 1px solid #83776A;
  color: #FFFFFF;
  padding: 8px 16px;
}

.header__navlink.is-active {
  color: #A88657;
}

.header__navitem--cta .header__navlink.is-active {
  color: #333333;
}

.header__sns {
  margin-top: 24px;
}

.header__sns-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__sns-link {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__sns-icon {
  color: #A88657;
}

.p-hero {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.p-hero__media {
  width: 100%;
  height: 100%;
}

.p-hero__media {
  width: 100%;
  height: 100%;
}

.p-hero__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 40px 0;
}

.p-hero__title {
  font-size: 24px;
  margin-bottom: 24px;
  position: relative;
  margin-top: 40px;
}

.p-hero__title::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1px;
  height: 50px;
  background: #333333;
}

.p-hero__text {
  font-size: 16px;
}

.p-pickup,
.p-feature {
  background: #F6F6F6;
}

.swiper {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
  padding: 0 40px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  width: 310px;
}

.swiper-pagination-bullet {
  background: #E6E6E6;
  opacity: 1;
  /* デフォルトは薄いので上書き */
}

.swiper-pagination-bullet-active {
  background: #C8B296;
}

.swiper-wrapper {
  height: auto;
}

.p-card {
  width: 310px;
  height: 320px;
  margin-bottom: 40px;
}

.p-card__img {
  width: 100%;
  height: 174px;
  -o-object-fit: cover;
     object-fit: cover;
  /* アスペクト比を保ちつつ領域を埋める */
  -o-object-position: center;
     object-position: center;
  /* トリミングの基点（top / bottom なども指定可） */
  display: block;
  /* img のデフォルト inline によるすき間を消す */
}

.p-card__title {
  font-size: 18px;
  font-weight: 600;
  color: #A88657;
  letter-spacing: 0.1;
  margin-top: 16px;
}

.p-card__text {
  font-family: Noto Sans JP;
  letter-spacing: 0.1;
}

.p-plan__tab-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.p-plan__tab-btn {
  border-bottom: 1px solid #BBBBBB;
  width: 280px;
  text-align: center;
  color: #BBBBBB;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.p-plan__tab-btn.is-active {
  color: #BAA281;
  border-bottom: 1px solid #BAA281;
}

.p-plan__content {
  display: none;
  padding: 0 140px;
}
.p-plan__content.is-active {
  display: block;
}

.p-plan__text-area {
  margin: 40px 0;
}

.p-plan__title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1em;
  line-height: 1.9;
  color: #A88657;
  text-align: center;
  padding-bottom: 8px;
  border-bottom: 1px solid #A88657;
}

.p-plan__text {
  margin-top: 10px;
  font-family: Noto Sans JP;
}

.p-plan__btn {
  text-align: center;
}

.p-feature__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 160px;
}
.p-feature__wrapper:last-child {
  margin-bottom: 0;
}
.p-feature__wrapper--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.p-feature__wrapper--reverse .p-feature__text-box {
  margin-left: 0;
  margin-right: -80px;
}

.p-feature__img {
  max-width: 500px;
}
@media (max-width: 1110px) {
  .p-feature__img {
    max-width: 500px;
    width: 100%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}

.p-feature__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-feature__text-title {
  font-weight: 600;
  font-size: 20px;
  color: #A88657;
  text-align: center;
  margin-bottom: 8px;
}

.p-feature__text-box {
  max-width: 500px;
  min-height: 280px;
  background: #FFF;
  margin-left: -80px;
  margin-top: 130px;
  padding: 40px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}

.p-gallery {
  position: relative;
}

.p-gallery__list {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: 153px 282px 153px;
  gap: 16px;
}

.p-gallery__item {
  position: relative;
  overflow: hidden;
}

.p-gallery__item::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 6px solid rgba(255, 255, 255, 0.6);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  pointer-events: none;
  opacity: 0;
}

.p-gallery__item:hover::after,
.p-gallery__item.is-selected::after {
  opacity: 1;
}

.p-gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.p-gallery__item:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.p-gallery__item--square {
  grid-column: span 4;
}

.p-gallery__item--large {
  grid-column: span 6;
}

.p-gallery__item--tall {
  grid-column: span 4;
}

.p-gallery__item--wide {
  grid-column: span 8;
}

.p-modal {
  position: fixed;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 10;
}

.p-modal.is-open {
  opacity: 1;
  visibility: visible;
}

.p-modal__wrapper {
  position: relative;
}

.p-modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-modal__content {
  position: relative;
  max-width: 790px;
  max-height: 80vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  overflow: hidden;
}

.p-modal__content img {
  width: 100%;
  height: auto;
  display: block;
}

.p-modal__content::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 8px solid rgba(255, 255, 255, 0.6);
  pointer-events: none;
}

.p-modal__close {
  position: absolute;
  top: -50px;
  right: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #FFF;
  color: #A88657;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.p-contact__inner {
  background-image: url(./img/contact_cta.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  padding: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}
@media (max-width: 900px) {
  .p-contact__inner {
    padding: 40px;
  }
}

.p-contact__textarea {
  max-width: 440px;
  color: #FFF;
}

.p-contact__title {
  font-size: 24px;
  font-weight: bold;
}

.p-contact__subtitle {
  margin-bottom: 24px;
}

.p-contact__text {
  font-size: 16px;
}

.p-contact__btn {
  width: min(440px, 100%);
}
@media (max-width: 900px) {
  .p-contact__btn {
    width: min(330px, 100%);
  }
}

.p-contact__btn a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 62px;
  background: #FFF;
  color: #333333;
  font-weight: 600;
  font-size: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.p-contact__btn:hover a {
  background: #A88657;
  color: #FFF;
}

.p-contact__sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.p-contact__sns-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 528px;
  aspect-ratio: 528/266;
  -webkit-filter: grayscale(90%) brightness(0.8);
          filter: grayscale(90%) brightness(0.8);
  -webkit-transition: -webkit-filter 0.4s ease;
  transition: -webkit-filter 0.4s ease;
  transition: filter 0.4s ease;
  transition: filter 0.4s ease, -webkit-filter 0.4s ease;
}

.p-contact__sns-link:hover {
  -webkit-filter: grayscale(0%) brightness(1);
          filter: grayscale(0%) brightness(1);
}

.p-contact__sns-link--instagram {
  background-image: url(./img/instagram_cta.png);
}

.p-contact__sns-link--facebook {
  background-image: url(./img/facebook_cta.png);
}

.c-icon {
  width: 40px;
  height: 40px;
  color: #fff;
}

footer {
  margin-left: 200px;
  width: calc(100% - 200px);
}

.l-footer {
  max-width: 920px;
  margin: 0 auto;
  padding: 40px 80px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 24px;
}
@media (max-width: 900px) {
  .footer__wrapper {
    gap: 40px;
  }
}

.footer__title {
  font-size: 24px;
  font-weight: bold;
}

.footer__navlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  font-size: 16px;
}

.footer__copyright {
  font-family: Noto Sans JP;
  font-size: 14px;
  text-align: center;
  margin-top: 24px;
}

.footer__wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: #BBBBBB;
  text-align: center;
}

.footer__navitem {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__navitem:hover {
  color: #A88657;
}

.header__hamburger,
.header__drawer-header {
  display: none;
}

/* ===== Tablet ===== */
@media (max-width: 820px) {
  html {
    scroll-padding-top: 80px;
  }
  .l-main {
    margin: 0;
    padding-top: 80px;
    width: 100%;
  }
  .l-header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
    background: #FFF;
    top: 0;
    left: 0;
  }
  footer {
    margin-left: 0;
    width: 100%;
  }
  .header__hamburger {
    display: block;
    width: 35px;
    height: 24px;
    position: relative;
    z-index: 300;
  }
  .header__hamburger span {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #333333;
    left: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__hamburger span:nth-child(1) {
    top: 0;
  }
  .header__hamburger span:nth-child(2) {
    top: 12px;
  }
  .header__hamburger span:nth-child(3) {
    bottom: 0;
  }
  .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: #FFF;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 200;
  }
  .header__navlist {
    max-width: 292px;
    margin: 0 auto;
    padding-top: 24px;
  }
  .header__nav.is-active {
    right: 0;
  }
  .header__hamburger.is-active span:nth-child(1) {
    -webkit-transform: translateY(12px) rotate(45deg);
            transform: translateY(12px) rotate(45deg);
  }
  .header__hamburger.is-active span:nth-child(2) {
    opacity: 0;
  }
  .header__hamburger.is-active span:nth-child(3) {
    -webkit-transform: translateY(-12px) rotate(-45deg);
            transform: translateY(-12px) rotate(-45deg);
  }
  .header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 18px 20px;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__title--under {
    padding-bottom: 0;
  }
  .header__title--under::after {
    display: none;
  }
  .header__drawer-inner {
    display: block;
    max-width: 292px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 64px 36px 24px;
    margin: 0 auto;
  }
  .header__logo {
    font-size: 24px;
    font-weight: bold;
  }
  .header__logo--under {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding-bottom: 24px;
  }
  .header__logo--under::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #BBBBBB;
    text-align: center;
  }
  .header__drawer-header {
    display: block;
    padding-top: 64px;
    margin-bottom: 24px;
    text-align: center;
    max-width: 292px;
    margin: 0 auto;
  }
  .p-feature__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 40px;
  }
  .p-feature__wrapper--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-feature__text-box {
    max-width: 100%;
    height: auto;
    margin-left: 0;
    margin-top: 0;
    padding: 24px 16px;
  }
  .p-feature__wrapper--reverse .p-feature__text-box {
    margin-right: 0;
  }
  .p-feature__img {
    max-width: 100%;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}
/* ===== SP ===== */
@media (max-width: 480px) {
  .p-hero {
    max-width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-hero__media {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 700px;
  }
  .p-hero__text-wrapper {
    padding: 40px 20px;
  }
  .swiper {
    padding: 0;
    margin-bottom: 0;
  }
  .p-plan__content {
    padding: 0;
  }
  .p-plan__tab-nav {
    gap: 16px;
  }
  .p-plan__tab-btn {
    width: 100%;
    font-size: 14px;
  }
  .p-gallery__list {
    gap: 8px;
    grid-template-rows: 90px 120px 90px;
  }
  .p-gallery__item--large {
    grid-row: span 1;
  }
  .p-gallery__item--tall {
    grid-row: span 1;
  }
  .p-contact {
    padding: 0;
  }
  .p-contact__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 20px;
    background-image: url(./img/contact-sp-cta.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .p-contact__textarea {
    text-align: center;
  }
  .p-contact__subtitle {
    font-size: 16px;
  }
  .p-contact__sns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-contact__sns-link--instagram,
  .p-contact__sns-link--facebook {
    height: 200px;
  }
  .l-footer {
    padding: 40px 20px;
  }
  .footer__wrapper {
    gap: 0;
  }
  .footer__title {
    margin-bottom: 24px;
  }
  .footer__navlist {
    gap: 14px;
    font-size: 14px;
  }
  .footer__copyright {
    font-size: 12px;
  }
}